commands:
    cp_s3_object_with_creds:
          command: aws s3 cp s3://<your-s3-bucket>/credentials.txt /home/ec2-user/
option_settings:
   "aws:autoscaling:launchconfiguration":
     IamInstanceProfile : "aws-elasticbeanstalk-ec2-role"
#-----------------------------------------

files:
  "/home/ec2-user/script.sh":
      mode: "000755"
      content : |
       #!/bin/bash
       source /home/ec2-user/credentials.txt

       HOST=$HOST
       USER=$USER
       PASS=$PASS
       SECONDS_TOO_LONG=10

       QUERIES_RUNNING_TOO_LONG=`mysql -h$HOST -u$USER -p$PASS  -ANe"SELECT COUNT(1) FROM information_schema.processlist WHERE COMMAND='Query'  AND time >= ${SECONDS_TOO_LONG}"`

       if [ ${QUERIES_RUNNING_TOO_LONG} -gt 0 ]
       then
           mysql -h$HOST -u$USER -p$PASS -e "select * FROM information_schema.processlist WHERE  COMMAND='Query'  AND time >= ${SECONDS_TOO_LONG}"
           KILLPROC_SQLSTMT="SELECT CONCAT('KILL QUERY ',id,';') KillQuery FROM information_schema.processlist WHERE  COMMAND='Query'  AND time >= ${SECONDS_TOO_LONG}"

           mysql -h$HOST -u$USER -p$PASS  -ANe"${KILLPROC_SQLSTMT}" > /tmp/kill_log_queries.sql
           mysql -h$HOST -u$USER -p$PASS < /tmp/kill_log_queries.sql
       fi
container_commands:
  change_permisions:
    command: chmod +x /home/ec2-user/script.sh
  create_cronjob:
    command: touch /var/spool/cron/ec2-user
  setup_cron:
    command:
      echo "*/1 * * * * bash /home/ec2-user/script.sh" >> /var/spool/cron/ec2-user  