files:
  "/home/ec2-user/filebeat.sh":
      mode: "000755"
      content : |
       #!/bin/bash
       wget https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-7.16.3-x86_64.rpm
       rpm --install filebeat-7.16.3-x86_64.rpm
       systemctl enable filebeat.service

       variable1=$(aws ec2 describe-instances --region us-east-2 --instance-ids \
       $(aws autoscaling describe-auto-scaling-instances --region us-east-2 --output text \
       --query "AutoScalingInstances[?AutoScalingGroupName=='log'].InstanceId") \
       --query "Reservations[].Instances[].PrivateIpAddress" --output text | awk  '{ print $1 }')
       variable2=$(aws ec2 describe-instances --region us-east-2 --instance-ids \
       $(aws autoscaling describe-auto-scaling-instances --region us-east-2 --output text \
       --query "AutoScalingInstances[?AutoScalingGroupName=='log'].InstanceId") \
       --query "Reservations[].Instances[].PrivateIpAddress" --output text | awk  '{ print $2 }')

       echo "filebeat.inputs:
       - type: log
         enabled: true
         paths:
           - /var/log/*.log
       output.logstash:
         hosts: [\"$variable1:5044\",\"$variable2:5044\"]
         loadbalance: true
       processors:
         - add_host_metadata:
             when.not.contains.tags: forwarded
         - add_cloud_metadata: ~
         - add_docker_metadata: ~
         - add_kubernetes_metadata: ~ " > /etc/filebeat/filebeat.yml
       systemctl start filebeat.service

container_commands:
  change_permisions:
    command: chmod +x /home/ec2-user/filebeat.sh
  start_script:
    command: sudo bash /home/ec2-user/filebeat.sh
option_settings:
   "aws:autoscaling:launchconfiguration":
     IamInstanceProfile : "aws-elasticbeanstalk-ec2-role"